.profile__avatar {
  padding: 0;
  margin: 0 30px 0 0;
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: none;
  border-radius: 50%;
}
@media screen and (max-width: 843px) {
  .profile__avatar {
    margin-right: 0;
  }
}